<style>
    .chapters {
        height: 21vw;
        overflow: auto;
        padding-top:15px;
        padding-right:10px;
        max-height:350px;
    }
    .chapters::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: #aaa; /* or add it to the track */
        }
    .chapters::-webkit-scrollbar-thumb {
        background: #000; 
        }
    .chapterBox {
        height: 21vw;
        overflow: hidden; 
        position: relative;
        }

    ol.controls {
        counter-reset: alpha;
        padding: 10px;
        padding-right:20px; 
    }
    ol.controls li {
        list-style: lower-alpha;
        position: relative;
    }
    ol.controls > li::before {
        counter-increment: alpha;
    }
</style>
<div style="padding-bottom:25px;">
    <div class="pre-scrollable chapters">
    {% if lectures %}
    <ol start="0" dir="rtl">
    {% for key_curent, title in lectures %}
    <li><a href="{% url 'carousel:list_lectures' document.id key_curent %}" id="chapter-link"> <h3>{{ title }}</h3>  </a></li>  
        {% if subchapters %}

            {% if key_curent == key %}
                <ol class='controls'>
                {% for title, position, link in subchapters %}
        
                    <li><a href="#carousel" data-slide-to = "{{ position }}">{{ title }} </a> <!-- {% if link %} ( <a href="{{ link }}">link</a> ) {% endif %} --> </li>

                {% endfor %}
                </ol>
            {% endif %}
        {% endif %}

    {% endfor %}
            </ol>

    {% else %}
        <p>No lectures uploaded.</p>
    {% endif %}
    </div>
</div>
