{% extends "base/base_generic.html" %}
{% load static %}

<!-- Update header title -->
{% block title %} <title>Lectures</title> {% endblock %}
{% block head %} 
<!-- Send all variables to js -->
{% include 'lectures/pageController.html' %}
 <!-- Load scripts -->
<link rel="stylesheet" href= {% static 'lightbox.css' %}>
<link rel="stylesheet" href= {% static 'comments.css' %}>
<link rel="stylesheet" href= {% static 'spectrum.css' %}>
<script src= {% static 'spectrum.js' %}></script>
<script src= {% static 'lectures/lectures.js' %}></script>

{% endblock %}
<!-- add elements to navbar -->
{% block navbar %}
{% include "lectures/navbar_addon.html" %}
{% endblock %}


{% block lightbox %}
{% include 'lectures/lightbox.html' %}
{% endblock %}

{% block content %}

<!-- Error block -->
{% if error %} <h1>{{ error }} </h1> {% endif %}


<!-- ROW FOR CHAPTERS AND CAROUSEL -->

<div class="row blue" style="background-color: {{ document.color }} !important;">
   

    <!-- LEFT COLUMN -->
    <div class="col-md-3">
        <div class="row">
            <!-- logo -->
            {% include 'lectures/logo.html' %}
        </div>
        <div class="row text-right pull-right">
            <!-- List of chapters and subchapters -->
            {% include 'lectures/chapters.html' %}
        </div>
    </div>
    <!-- CENTRAL COLUMN -->
    <div class="col-md-6">
        <div class="row">
            <!-- Lecture title -->
            <div style="padding-left:20px">
            <h2>{{ document.title }}</h2>
            </div>
        </div>
        <div>
            <!-- MAIN carouesl -->
            {% include 'lectures/main_carousel.html' %}
        </div>
    </div>
    <!-- RIGHT COLUMN -->
    <div class="col-md-3"></div>
</div>

<!-- ROW FOR COMMENTS -->
<div class="row white" style="padding-bottom:20px;">
    <!-- LEFT COLUMN -->
    <div class="col-md-3"></div>
    <!-- CENTRAL COLUMN -->
    <div class="col-md-6">
        <!-- <div class="pull-right">
            {% include 'facebook/facebookBTN.html' %}
        </div> -->
        <div>
            <p><mark># contributors</mark></p>
            <p>Markus M. Gleb I.</p>
        </div>
        <div id="comments1" style="display: {{document.comments_display}} !important;">
            <p><mark># your comments</mark></p>
            <p>Help to further improve this slide. Share your thoughts (corrections, improvements, suggestions, general feedback).</p>
        </div>
        <div class="row" id="comments2" style="display: {{document.comments_display}} !important;">
             <!-- Comment form -->
            {% if user.is_authenticated %}
                {% include "lectures/comments_form.html" %}
                {% include "lectures/comments_form_reply.html" %}
            {% endif %}
        </div>
        <div id="comments3" style="display: {{document.comments_display}} !important;">
            <!-- COMMENTS -->
            <div>
                <p><mark># comments history</mark></p>
            </div>
            <div id="comments">
            {% include "lectures/comments.html" %}
            </div>
        </div>
        <!-- LOAD MORE -->
        {% if comments %}
        <div align = "center" style="margin-bottom:30px; display: {{document.comments_display}} !important;">
            <a id="lazyLoadLink" href="javascript:void(0);" data-page="2" style = "display:none;">Load More Comments</a>
        </div>
        {% endif %}
    </div>
    <!-- RIGHT COLUMN -->
    <div class="col-md-3"></div>
</div>

{% endblock %}

{% block java_script %}
<!-- {% include 'lectures/comments_script_remake.html' %} -->
{% include 'lectures/change_color.html' %}
{% endblock %}