<script>
    // Submit post on submit
    $('#post-form').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!");  // sanity check        
        create_post();
    });

    // Delete post on delete
    $('#comments').on('click','.delete-post' , function(event){
        event.preventDefault();
        console.log("form delete pressed!");  // sanity check        
        var id = $(this).attr('id');
        console.log('Button id= ' + id);
        delete_post(id);
    });
    // AJAX for deleting
    function delete_post(id) {
        console.log("delete post is working!") // sanity check

        var url_to = '/ajax/delete/';
        console.log(url_to);
    
        $.ajax({
            url : url_to, // the endpoint
            type : "POST", // http method
            data : {csrfmiddlewaretoken: '{{ csrf_token}}',
                    comment_id: id },// data sent with the post request
            // handle a successful response
            success : function(data) {

                $('.comment').filter(function(){return $(this).data('slide')== activeSlide()}).remove()
                //$("div.container#"+id).remove();
                
                $('#comments').prepend(data.comments_html);
                console.log("success"); // another sanity check
            },
            // handle a non-successful response
            error : function() {
                $('#results').html("<div><h3>Oops! We have encountered an error: please reload the page</h3></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    };

    function getActiveSlide(){
        var activeSlide = $('#carousel-b .active').index('#carousel-b .item')
        return activeSlide
    };
    // Display only related comments
    function changeComments(active){
        var $allContainers = $( "#comments" ).find( "*.container" );
        var $allA = $( "#comments" ).find( "*a" );
        //console.log('Length container ' + $allContainers.length);
        //console.log('Length all ' + $allA.length);

        
        for (i = 0; i < $allA.length; i++){
            if (parseInt($allA[i].dataset.slideTo)  != active) {
                //console.log('Wrong comment = ' + $allA[i].dataset.slideTo);
                $allContainers[i].style.display = 'none';
                
            } else{
                $allContainers[i].style.display = 'block';
            };
        };
    };

    // Post Comment 2
    function create_post() {
        console.log("create post is working!") // sanity check

        var url_to = '/ajax/post/';
        console.log(url_to);
        var activeSlide = getActiveSlide();
        $.ajax({
            url : url_to, // the endpoint
            type : "POST", // http method
            data : {csrfmiddlewaretoken: '{{ csrf_token}}',
                    the_post_author : $('#post-author').val(), 
                    the_post_text : $('#post-text').val(),
                    class_id: "{{document.id}}",
                    key: "{{ key }}",
                    slide: activeSlide}, // data sent with the post request
            // handle a successful response
            success: function(data) {
                console.log('Success');
                $('#post-text').val(''); // remove the value from the input
                $('#post-author').val('');
                
                // append html to the posts div
                
                $('.comment').filter(function(){return $(this).data('slide')== getActiveSlide()}).remove();                
                $('#comments').append(data.comments_html);
                console.log("success"); // another sanity check
            },
            error: function(xhr, status, error) {
                // shit happens 
                console.log('Error');
            }
                
        });
    };

</script>