{% extends "base/base_generic.html" %}

{% block content %}
<div class="container" align="center">  
    <h3>Login</h3>
     <!--Display errors-->
     {% if form.errors %}
     <div class="alert alert-dismissible alert-warning">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <h4 class="alert-heading">Warning!</h4>
         <p class="mb-0"><h5>Your username and password didn't match. Please try again.</h5></p>
     </div>
     {% endif %} 

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <fieldset>

            <p><input id="id_username" type="text" name="username" placeholder="Email" maxlength="100" required /></p>
            <p><input id="id_password" type="password"  name="password" placeholder="Password" maxlength="100" required /></p>

        </fieldset>
        <fieldset>
            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
</div>
{% endblock %}