
{% if lectures %}

<ul>
{% for key_curent, title in lectures %}
    <p><a href="{% url 'carousel:list_lectures' document.id key_curent %}"> <h3>{{ title }}</h3>  </a></p>

    {% if subchapters %}
        
        {% if key_curent == key %}
            <ul type="a" class='controls'>
            {% for title, position in subchapters %}
                <li><span style="left:-10px"><a href="#carousel" data-slide-to = "{{ position }}"><h4>{{ title }}</h4></a></span></li>
            {% endfor %}
            </ul>
        {% endif %}  
        
    {% endif %}

{% endfor %}
</ul>

{% else %}
    <p>No lectures uploaded.</p>
{% endif %}

