
{% if comments %}
{% for comment in comments %}

    <div class="container" id={{comment.id}}>
        <div class="panel panel-white post panel-shadow">
            {% if user.is_authenticated %}
            <div class="pull-right m-3">
                
                    <input id='delete' type="hidden" />
                    <button type="button" class="close delete-post" id={{comment.id}} >&times;</button>

            </div>
            {% endif %}
            <div class="post-heading" id="comment-heading">
                <div class="pull-left meta">
                    <div class="title h5">
                        <b>{{ comment.author }}</b> made a comment on slide <a href="#carousel" data-slide-to = "{{ comment.slide }}">#{{ comment.slide|add:1 }}</a>
                    </div>
                    <h6 class="text-muted time">{{ comment.created }}</h6>
                </div>
            </div> 
            <div class="post-description"> 
                <p>{{ comment.text }}</p>
            </div>
        </div>
    </div>

{% endfor %}
{% endif %}