{% extends "base_generic.html" %}

{% block lightbox %}
<div class="lightbox">
    <div class="lightbox-container">

        <div id="carousel-a" class="carousel slide carousel-sync" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                {% for slide in slides%}
                {% if forloop.first%}
                <div class="item active">
                {% else %}  

                <div class="item">
                {% endif %}
                    <img class="d-block w-100" src="/{{slide}}">
                </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#carousel-a" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-a" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</div>
{% endblock %}

{% block controls %}
<head>
    <meta charset="utf-8">
    <title>List of courses</title>
</head>

<!-- List of uploaded documents -->
{% if lectures %}

<ul>
{% for key_curent, title in lectures %}
    <p><a href="{% url 'carousel:list_lectures' document.id key_curent %}"> <h3>{{ title }}</h3>  </a></p>

    {% if subchapters %}
        
        {% if key_curent == key %}
            <ul class='controls'>
            {% for title, position in subchapters %}
                <p><a href="#carousel" data-slide-to = "{{ position }}" style="color:rgb(56, 56, 155);"><h4>{{ title }}</h4></a></p>
            {% endfor %}
            </ul>
        {% endif %}  
        
    {% endif %}

{% endfor %}
</ul>

{% else %}
    <p>No lectures uploaded.</p>
{% endif %}

{% endblock %}
    
{% block content %} 
{% if error %} <h1>{{ error }} </h1> {% endif %}
{% if slides %}
    
<div id="carousel-b" class="carousel slide carousel-sync" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        {% for slide in slides%}
        {% if forloop.first%}
        <div class="item active">
        {% else %}  

        <div class="item">
        {% endif %}
            <img class="d-block w-100" src="/{{slide}}">
        </div>
        {% endfor %}
    </div>

    <a class="carousel-control-prev" href="#carousel-b" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-b" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
      
    {% endif %}
<button class="btn btn-primary" id="fullscreen">Fullscreen</button>

{% endblock %}
