{% extends "base_generic.html" %}
{% load static %}
{% block lightbox %}

<div class="lightbox">
        <a href="#" class="closex"></a>
    <div class="lightbox-container" >

        <div id="carousel-a" class="carousel slide carousel-sync" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                {% for slide in slides%}
                {% if forloop.first%}
                <div class="item active">
                {% else %}  

                <div class="item">
                {% endif %}
                    <img class="carousel-a" src="{{slide}}">
                </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#carousel-a" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-a" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</div>
{% endblock %}

{% block controls %}
<head>
    <meta charset="utf-8">
    <title>List of courses</title>
</head>

<!-- List of uploaded documents -->
{% include 'chapters.html' %}

{% endblock %}
    

{% block titles %}
<!-- Title -->
<div align = "center">
    <h2>{{ document.title }}</h2>
</div>  
{% endblock %}

{% block content %} 



{% if error %} <h1>{{ error }} </h1> {% endif %}
{% if slides %}
<div>
    <div id="carousel-b" class="carousel slide carousel-sync" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            {% for slide in slides%}
            {% if forloop.first%}
            <div class="item active">
            {% else %}  

            <div class="item">
            {% endif %}
                <img class="carousel-b" src="{{slide}}">
            </div>
            {% endfor %}
        </div>

        <a class="carousel-control-prev" href="#carousel-b" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-b" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
      
    {% endif %}

{% endblock %}

{% block comments_form %}
{% include "comments_form.html" %}
{% endblock %}

{% block comments %}
<div id="comments">
{% include "comments.html" %}
</div>

{% if comments %}
<div align = "center" style="margin-bottom:30px;">
    <a id="lazyLoadLink" href="javascript:void(0);" data-page="2" style="color:white !important;">Load More Comments</a>
</div>
{% endif %}

{% endblock %}

{% block java_script %}
{% include 'post_script.html' %}
{% endblock %}